# Ambiente e Porta
NODE_ENV=production
PORT=3000

# Conexão com o Banco de Dados (PostgreSQL para VPS Hostinger)
DATABASE_URL=postgresql://usuario:senha@localhost:5432/nomedobanco?schema=public

# Segurança & Autenticação JWT
JWT_SECRET=sua_chave_secreta_jwt_super_segura_aqui_64_character_hex
JWT_REFRESH_SECRET=sua_chave_secreta_jwt_refresh_super_segura_aqui_64_character_hex

# URL do Aplicativo Em Produção
APP_URL=https://seudominio.com

# Chaves de APIs Terceiras e Serviços de IA
GEMINI_API_KEY=sua_chave_do_gemini_api_aqui
